/* Override State h* styles */

h2 {
	background-color: transparent;
    border: none;
}

h3 {
	background-color: transparent;
    border: none;
}

h4 {
	background-color: transparent;
    border: none;
}


@keyframes previewAnimation {
  from {
   	opacity: .2;
   	-webkit-transform: scale(.3);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.0);
  }
}

@-webkit-keyframes previewAnimation {
  from {
   	opacity: .2;
   	-webkit-transform: scale(.3);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.0);
  }
}

@-moz-keyframes previewAnimation {
  from {
   	opacity: .2;
   	-webkit-transform: scale(.3);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.0);
  }
}

.AltasServiceSearch {
	z-index: 6501;
	background-color: white;
	border: 1px solid #cccccc;
	opacity: 1;
	
	box-shadow: 0 0 3px #aaaaaa;
	-moz-box-shadow: 0 0 3px #aaaaaa;
	-webkit-box-shadow: 0 0 3px #aaaaaa;
	
	transition: opacity 500ms linear;
	-moz-transition: opacity 500ms linear;
	-webkit-transition: opacity 500ms linear;
}

.AltasServiceSearch-glasspanel {
	background-color: white;
	z-index: 6500;
	opacity: .85;
	
	transition: opacity 500ms linear;
	-moz-transition: opacity 500ms linear;
	-webkit-transition: opacity 500ms linear;
}

.AltasServiceSearch-detached {
	z-index: 6501;
	background-color: white;
	border: 1px solid #cccccc;
	opacity: 0;
	
	box-shadow: 0 0 3px #aaaaaa;
	-moz-box-shadow: 0 0 3px #aaaaaa;
	-webkit-box-shadow: 0 0 3px #aaaaaa;
	
	transition: opacity 500ms linear;
	-moz-transition: opacity 500ms linear;
	-webkit-transition: opacity 500ms linear;
}

.AltasServiceSearch-glasspanel-detached {
	background-color: white;
	z-index: 6500;
	opacity: 0;
	
	transition: opacity 500ms linear;
	-moz-transition: opacity 500ms linear;
	-webkit-transition: opacity 500ms linear;
}

.AltasServiceSearch-item-detached {
	float: left;
	margin: 10px;
	opacity: 0;
}

.AltasServiceSearch-item {
	float: left;
	margin: 10px;
	opacity: 1;
	
	transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	-webkit-transition: all 500ms linear;
}

.AltasServiceSearch-cover {
	position: absolute;
	width: 500px;
	height: 202px;
	background-color: #555555;
	color: white;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	font-size: 28px;
	opacity: .0;
	z-index: 8005;
	border-radius: 12px;	
	-webkit-border-radius: 12px;	
	-moz-border-radius: 12px;
	box-shadow: 0 0 10px #555555;
	-moz-box-shadow: 0 0 10px #555555;
	-webkit-box-shadow: 0 0 10px #555555;
	transition: opacity 600ms ease-in-out;
	-moz-transition: opacity 600ms ease-in-out;	
	-webkit-transition: opacity 600ms ease-in-out;	
}

.AltasServiceSearch-cover:hover {
	opacity: .7;
}

.pagination {
  float: right;
  font-size: 14px;
}

.pagination a {
	text-decoration: none;	
}

.pagination-value-current, .pagination-value, .pagination-value-next, .pagination-value-previous {
  float: left;
  margin-left: 4px;
  padding: 1px 4px;
}

.pagination-value-current {
  color: #7d7d7d !important;
}

